body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u64 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u66 {
  position:absolute;
  left:298px;
  top:58px;
  width:30px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u67 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:39px;
  background:inherit;
  background-color:rgba(254, 90, 116, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:158px;
  top:61px;
  width:206px;
  height:39px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:16px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:41px;
}
#u70 {
  position:absolute;
  left:161px;
  top:46px;
  width:30px;
  height:41px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u72 {
  position:absolute;
  left:328px;
  top:39px;
  width:247px;
  height:1px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-8px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
}
#u74 {
  position:absolute;
  left:575px;
  top:25px;
  width:304px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u75 {
  position:absolute;
  left:10px;
  top:6px;
  width:284px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:170px;
  top:17px;
  width:186px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
