body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u126 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u129 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u130 {
  position:absolute;
  left:70px;
  top:286px;
  width:237px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:74px;
  height:52px;
}
#u133 {
  position:absolute;
  left:268px;
  top:252px;
  width:71px;
  height:49px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u134 {
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u135 {
  position:absolute;
  left:319px;
  top:308px;
  width:21px;
  height:13px;
  -webkit-transform:rotate(340deg);
  -moz-transform:rotate(340deg);
  -ms-transform:rotate(340deg);
  transform:rotate(340deg);
}
#u136 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:136px;
  top:359px;
  width:104px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:92px;
}
#u139 {
  position:absolute;
  left:154px;
  top:184px;
  width:68px;
  height:92px;
}
#u140 {
  position:absolute;
  left:2px;
  top:38px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
