body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u176 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u179 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u180 {
  position:absolute;
  left:70px;
  top:286px;
  width:237px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u183_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:74px;
  height:52px;
}
#u183 {
  position:absolute;
  left:268px;
  top:252px;
  width:71px;
  height:49px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u184 {
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u185 {
  position:absolute;
  left:319px;
  top:308px;
  width:21px;
  height:13px;
  -webkit-transform:rotate(340deg);
  -moz-transform:rotate(340deg);
  -ms-transform:rotate(340deg);
  transform:rotate(340deg);
}
#u186 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u187 {
  position:absolute;
  left:136px;
  top:359px;
  width:104px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:92px;
}
#u189 {
  position:absolute;
  left:154px;
  top:184px;
  width:68px;
  height:92px;
}
#u190 {
  position:absolute;
  left:2px;
  top:38px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:289px;
  top:322px;
  width:86px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u192 {
  position:absolute;
  left:362px;
  top:359px;
  width:213px;
  height:1px;
}
#u193 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:46px;
}
#u194 {
  position:absolute;
  left:575px;
  top:345px;
  width:220px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u195 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
